form{
    width: 20%;
    height: auto;
    margin-left: 10%;
}
label{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px ;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #2ed3ae;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-size: 20px;
}
input[type=number] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


}


input[type=submit] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #2ed3ae;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #2ed3ae;
    color: white;
    font-size: 20px;
}