body{
    margin: 0;
    padding: 0;
}
.header{

    width: 100%;
    height: 100px;
    padding-bottom: 5%;
}

img{
    width: 100%;
    height: 200px;
}

#background-video{
    object-fit:  fill;
    width: 100%;
    height: 200px;
    top: 0;
    display:inline-block;
}