body{
    margin: 0;
    padding: 0;
}
.header{
    margin-top: 2%;
    width: 100%;

}
.header p{
    text-align: start;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #2ed3ae;
}

.header img{
    width: 40px;
    height: 40px;
}