body{
    color: #2ed3ae;
}

.divForRegForm{
    width: 100%;
    height: auto;
}

.formDiv1{
    margin-left: 10%;
    width: 35%;
    float: left;
}

.formDiv2{
    margin-left: 10%;
    width: 35%;
    float: left;
}
.weightHeight{
    width: 100%;
}

form{
    width: 90%;
}
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #2ed3ae;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: #2ed3ae;
    font-size: 20px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=number] {
    float: left;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


}

input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    color: #2ed3ae;
}

 input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #2ed3ae;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #2ed3ae;
    color: white;
    font-size: 20px;
}